services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: unless-stopped

  backend:
    build: ./backend
    environment:
      ENVIRONMENT: dev
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      SECRET_TOKEN: ${SECRET_TOKEN}
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true 
      - WATCHPACK_POLLING=true
    depends_on:
      - backend
    restart: unless-stopped

  nginx:
    image: nginx
    volumes:
    - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
    - "80:80"
    environment:
    - NGINX_HOST=nighdee.ru
    - NGINX_PORT=80
    depends_on:
      - backend
      - frontend


volumes:
  postgres_data: