.button {
    width: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

.button--to-go {
    background-color: green;
}
    .button--to-go:hover {
        background-color: rgb(2, 182, 182);
    }
    .button--to-go:disabled {
        opacity: 25%;
        background-color: gray;
    }

.button--negative {
    background-color: rgb(206, 47, 47);
}
    .button--negative:hover {
        background-color: rgb(255, 94, 0);
    }
