.ToGoButton {
    width: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
    .ToGoButton:hover {
        background-color: rgb(2, 182, 182);
    }
    .ToGoButton:disabled {
        opacity: 25%;
        background-color: gray;
    }

.NegativeButton {
    width: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    background-color: rgb(206, 47, 47);
    color: white;
    border-radius: 10px;
}
    .NegativeButton:hover {
        cursor: pointer;
        background-color: rgb(255, 94, 0);
    }
