#capacity_input, #minage_input, #maxage_input {
    height: 20px;
}
#capacityDiv > h3 { margin-top: 10px; }
#ageDiv > h3 { margin-top: 10px; }
#datetimeDiv, #ageDiv, #capacityDiv {
    display: flex;
}
input[type="datetime-local"] {
    width: 96%;
}
.placemark_element {
    border: 1px black solid;
}