.login-panel {
    margin-top: 30vh; 
    margin-inline: auto; 
    width: 20%; 
    border: 1px black solid; 
    border-radius: 20px; 
    padding: 10px;
}
.login-panel__input {
    border: 1px black solid;
    width: 95%;
}
.login-panel > input[type="button"] {
    width: 97%;
}