.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../../assets/logoWithoutText.jpg") no-repeat;
    background-size: contain;
    background-position: left;    
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    height: 11vh;
}

header{
    width: 100%;
    border: black 1px solid;
    font-family: Arial;
}