.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    height: 11vh;
    border: black 1px solid;
}

.app-header__logo {
    display: flex;
    align-items: center;
    height: 100%;
    background: url("../../assets/logoWithoutText.jpg") no-repeat;
    background-size: auto 100%;
    background-position: center;
}
