.reg-screen {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 20%;
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px;
}

.reg-screen__input {
    border: 1px black solid;
    width: 95%;
}

.reg-screen > input[type="button"] {
    width: 97%;
    border-radius: 10px;
    cursor: pointer;
}
